  #containerbox {
  background-color: rgba(184, 212, 175, 0.70);
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
    text-align: center;

}
  
  body {
      background-image: url("kaijuwallpaper.jpg");
  background-color: #212121; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-attachment: fixed;
  
}
h2{
      text-decoration: underline;
  font-size: 100px;

}
#results{
  font-size: 18px;
  font-weight: bold;


}
